.all_category_frame{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #e5edff;

   border: 1px solid rgb(234, 234, 234);
    background: rgb(255, 255, 255);

}

.all_category_frame  .container{
    height: auto;
    flex-direction: column;
}

.all_category_frame  .container .all_category_wrapper {
    position: relative;
    width: 100%;
    height: 22px;
    display: flex;
    align-items: center;



}

.all_category_frame  .container .all_category_wrapper a{
    margin-right: 38px;

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;

}

 .all_category_wrapper .lined-box-1{
    width: 52px;
    height: 2px;
     position: absolute;
    left: 224px;
    bottom: -16px;

    background: rgb(4, 30, 66);
}

 /*all_main_frame*/


.all_main_frame{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.all_main_frame  .container{
    height: 884px;
    flex-direction: column;
}

.bread_crumb_box{
    margin-top: 37px;
    width: 353px;
    height: 22px;

    display: flex;
    justify-content: space-between;
}

.bread_crumb_box a{
    color: var(--Color-Text-Light, #626974);

    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.discount_box{
    margin: 20px 0 40px 0;
    width: 100%;
    height: 425px;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    background: url(../images/other/rasm.png) no-repeat;


}

.discount_box_text{
    margin: 50px 0 0 81px;
    width: 366px;
    height: 218px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.discount_box_text span{
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}

.discount_box_text p{
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}

.discount_box_text a{
    width: 145px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;


    box-sizing: border-box;
    border: 1px solid rgb(245, 195, 75);
    border-radius: 6px;
    background: rgb(245, 195, 75);

    color: var(--Color-Text-Dark, #041E42);
    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 146.667% */
}

.all_pagination{
    margin-top: 80px;
    margin-left: 100px;
    width: 169px;
    height: 22px;

    display: flex;
    justify-content: center;
    align-items: center;
}

  /* shop brand frame */


    
  .shop_brand_frame{
    margin-top: 40px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.shop_brand_frame  .container .shop_brand_wrapper{
    width: 973px;
    height: 122px;

}

.shop_brand_frame   .container .shop_brand_wrapper  p{
    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}


.shop_brand_frame   .container .shop_brand_wrapper .brands_box{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_brand_frame   .container .shop_brand_wrapper .brands_box span{
    width: 95px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(234, 234, 234);
    border-radius: 6px;

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}

.shop_brand_frame    .container .shop_brand_wrapper .brands_box span:hover{
    border-radius: 6px;

    background: rgb(68, 50, 151);

    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}






















































