:root{
    font: "Jost";
}
*{
    font-family: "Jost";
}

html , body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
p{
    margin: 0;
}
/* bread */

.bread_crumb_box{
    margin-top: 37px;
    width: 353px;
    height: 22px;

    display: flex;
    justify-content: space-between;
}

.bread_crumb_box a{
    color: var(--Color-Text-Light, #626974);

    font-family: Jost;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}



/* all_category_frame */

.all_category_frame{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #e5edff;

   border: 1px solid rgb(234, 234, 234);
    background: rgb(255, 255, 255);

}

.all_category_frame  .container{
    height: auto;
    flex-direction: column;
}

.all_category_frame  .container .all_category_wrapper {
    position: relative;
    width: 100%;
    height: 22px;
    display: flex;
    align-items: center;



}

.all_category_frame  .container .all_category_wrapper a{
    margin-right: 38px;

    color: rgb(4, 30, 66);
    font-family: Jost;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;

}

 .all_category_wrapper .lined-box-1{
    width: 52px;
    height: 2px;
     position: absolute;
    left: 224px;
    bottom: -16px;

    background: rgb(4, 30, 66);
}




/* NAVBAR  STARTED */

.container{
    position: relative;
    width: 1320px;
    height: auto;

    display: flex;
}


.navbar_frame{
    position:relative;
    width: 100%;
    height: 145px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: rgb(68, 50, 151);
}
.navbar_frame .container{
    padding: 20px 0 14px;
    flex-direction: column;
}

.navbar_frame .navbar_top{
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
}

.navbar_frame .navbar_top > a img{
    width: 117px;
    height: 36px;
    margin-right: 76px;


}

.navbar_frame .navbar_top .search_box{
    padding: 10px 17px;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_frame .navbar_top  .nav_search_frame{
    width: 650px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
}

.navbar_frame .navbar_top .nav_top_menu{
    margin-left: 59px;
    width: 416px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_frame .search_box .category_list{
    width: 166px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-right: 1px solid #d6d6d6;
}

.navbar_frame .category_list select{
     width: 140px;
    height: 30px;

    border: none;
    outline: none;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

}

.navbar_frame .nav_search_frame .search_icon_box{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5c34b;
    border-radius: 0 6px 6px 0;


}
.navbar_frame .search_icon_box img{
    width: 20px;
    height: 20px;
}

.navbar_frame .nav_top_menu .top_menu_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.navbar_frame .top_menu_box .box_icon_box{
    width: 54px;
    height: 50px;
    margin-right: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar_frame .box_icon_box img{
    width: 22px;
    height: 22px;
}

.navbar_frame .box_info_box span{
    /* [object Object] */
    color: rgb(255, 255, 255);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar_frame .box_info_box strong{
    /* [object Object] */
    color: rgb(255, 255, 255);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.navbar_frame .top_menu_box  .box_info_box{
    display: flex;
    flex-direction: column;

}
.navbar_frame .search_box input{
    margin-left: 12px;
    width: 387px;
    height: 22px;

    color: rgb(98, 105, 116);
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

    border: none;
    outline: none;
}

.navbar_frame .box_icon_box .basket_count{
    width: 15px;
    height: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    color: rgb(11, 30, 64);
    font-family: var(--font);
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left;

    position: absolute;
    right: -2px;
    top: -3px;
    background: #f5c34b;
}

.navbar_frame .navbar_bott{
    margin-top: 20px;
    width: 100%;
    height: 40px;

    display: flex;
    flex-direction: row;

    border-top: 1px solid #5746a1;
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
    width: auto;
    height: auto;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
}

.navbar_frame .navbar_bott .browse_box{
    width: 185px;
    height: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #5746a1;
}

.navbar_frame .browse_box img{
    width: 20px;
    height: 18px;
    margin-right: 10px;
}
.navbar_frame .browse_box span{
    color: rgb(255, 255, 255);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu{
    margin-left: 12px;
    width: 690px;

    /*width: auto;*/
    /*height: 40px;*/

    display: flex;
    flex-direction: row;

}

.navbar_frame .navbar_route_menu .router_menu{
    width: auto;
    height: 41px;
    margin-right: 20px;

    display: flex;

}
.navbar_frame .router_menu a{
    color: rgb(255, 255, 255);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.navbar_frame .router_menu a.active{
    color: #f5c34b;
}

.navbar_frame .navbar_bott_menu_box .sorting_menu{
    display: flex;
    flex-direction: row;

}

.navbar_frame .sorting_menu span{
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}



/*Shop Category*/


.shop_category_frame{
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}
.shop_category_frame .container{
    flex-direction: column;

}

.shop_category_frame  .container  .category_wrapper{
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shop_category_frame  .category_wrapper .category_box{
    width: 142px;
    height: auto;
    cursor: pointer;

    display: flex;
    flex-direction: column;
}

.shop_category_frame  .category_box .category_img_box{
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(234, 234, 234);
    border-radius: 150px;
}
.shop_category_frame  .category_box span{
    margin-top: 15px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}

/*seeling product frame*/

.selling_product_frame {
    position: relative;
    margin-top: 60px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}


.selling_product_frame .container {
    flex-direction: column;

}

.selling_product_frame   .container .product_wrapper{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: auto;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*CATEGORY  TOP*/

.container .category_top{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.container .category_top div{
    display: flex;
    flex-direction: row;

}
.container .category_top span{
    color: rgb(4, 30, 66);

    font-family: var(--font);
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.container  .category_top  a{
    margin-left: 30px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.container    .category_top  a:hover{
    border-bottom: 1px  solid  rgb(4, 30, 66);
}


/*Footer Frame*/


.footer_frame    {
    width: 100%;
    height: 507px;
    background: rgb(243, 245, 246);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer_frame  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}


.footer_frame   .footer_top{
    width: 100%;
    height: 250px;

    display: flex;


}

.footer_frame   .footer_top_box{
    width: 285px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer_frame   .top_box_title{
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;

}

.footer_frame   .top_content{
    display: flex;
}

.footer_frame   .top_content img{
    width: 35px;
    margin-right: 30px;
}

.footer_frame   .text_content strong{
    margin-top: 20px;
    display: block;


    color: rgb(4, 30, 66);
    font-weight: bold;
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}

.footer_frame   .text_content span{

    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
}

.footer_frame   .footer_support_box{
    margin-left: 70px;
    width: 194px;
    height: 240px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_frame   .footer_support_box   .top_box_title{
    margin-bottom: 10px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.footer_frame   .footer_support_box a{
   color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}



.footer_frame   .footer_support_box .social_box{
    margin: 0  0 25px;
    width: 155px;
    height: 16px;

    display: flex;
    justify-content: space-between;

}

.footer_frame   .social_box i{
    color: rgb(4, 30, 66);
    /* font-family: var(--font); */
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.footer_frame   .mobile_apps_box{
    width: 118px;
    height: 80px;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_frame   .apple_logo_box img {
    margin-right: 9px;
    width: 21px;
    height: 13px;
}

.footer_frame   .apple_logo_box span{
    color: rgb(4, 30, 66);
   font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}


.footer_frame   .footer_top .payment_wrapper{
    width: 272px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_frame   .footer_top .payment_wrapper  .payment_box{

    width: 100%;
    height: 25px;

    display: flex;
    justify-content: space-between;
}



.footer_frame   .payment_container{
    margin-left: 70px;
    /*width: 194px;*/
    height: 240px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer_frame   .footer_bott{
    margin-top: 90px;
    width: 100%;
    height: 61px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    /*background-color: red;*/

    border-top: 1px solid rgb(234, 234, 234);;

}


.footer_frame   .footer_bott .footer_bott_main{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_frame   .footer_bott_main  .footer_bott_left{
    width: 560px;
    height:auto;
}

.footer_frame   .footer_bott_main  .footer_bott_left span{
    margin-right: 66px;
    color: rgb(4, 30, 66);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}

.footer_frame   .footer_bott_main  .footer_bott_right{

    width: 187px;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}

.footer_frame   .footer_select_box span{
    margin-right: 30px;
    color: rgb(98, 105, 116);
    font-family: var(--font);
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
}

.footer_frame   .footer_select_box select {
    width: 73px;
    border: none;
    outline: none;



}


/*PAGINATION*/


.pagination_box{
    margin-top: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination_box .pagination_main{
    width: auto;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.pagination_main .pagination_dot{
    margin: 0 20px;
    display: flex;
    flex-direction: row;
}

.pagination_main img{
    cursor: pointer;
}

.pagination_dot .dot{
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.pagination_dot .dot.active{
    border: 2px solid #112137;


}

.pagination_dot .dot div{
    width: 4px;
    height: 4px;
    background: #112137;
    border-radius: 50%;
}








